Changeling Neo Regular {
font-family: "changeling-neo", sans-serif;
font-weight: 400;
font-style: normal;
font-kerning: 161;
}

Changeling Neo Bold {
font-family: "changeling-neo", sans-serif;
font-weight: 700;
font-style: normal;
font-kerning: 161;
}

Changeling Neo Inline {
font-family: "changeling-neo-inline", sans-serif;
font-weight: 700;
font-style: normal;
font-kerning: 161;
}

Changeling Neo Stencil {
font-family: "changeling-neo-stencil", sans-serif;
font-weight: 700;
font-style: normal;
font-kerning: 161;

}

h2 {
    font-family: changeling-neo !important; 
}

